body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: #282c34;
    font-family: 'Roboto', sans-serif;
    color: white;
}

.game-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

canvas {
    background-color: #111;
    border: 3px solid #9945ff;
    border-radius: 10px;
    margin-bottom: 20px;
}

h1 {
    margin-bottom: 20px;
    font-size: 2em;
    color: #711dd9;
}

.score-board {
    margin-bottom: 20px;
    font-size: 1.2em;
}

button {
    background-color: #711dd9;
    border: none;
    margin: 5px;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #5a0d94;
}

.canvas-container {
    position: relative;
    display: flex;
    justify-content: center;
}

.controls {
    position: absolute;
    bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.joystick{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
}
.joystick-row {
    display: flex;
    justify-content: center;
}

.control-btn {
    width: 70px;
    height: 70px;
    font-size: 1.5em;
    background-color: transparent;
    border: 3px solid #9945ff;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.control-btn:hover {
    background-color: transparent;
}

@media (max-width: 600px) {
    canvas {
        width: 100%;
        height: auto;
        max-width: 300px;
    }

    .controls {
        width: 100%;
        max-width: 300px;
    }

    .control-btn {
        width: 70px;
        height: 70px;
        font-size: 1.2em;
    }
}
#popup, #leaderboard-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    color: black;
    padding: 20px;
    border-radius: 10px;
    display: none;
    z-index: 1000;
}
#popup button, #leaderboard-popup button {
    background-color: #711dd9;
    color: white;
    border: none;
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
}

#popup button:hover, #leaderboard-popup button:hover {
    background-color: #5a0d94;
}
#leaderboard-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#leaderboard-list li {
    margin: 10px 0;
}
