body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: #282c34;
    font-family: 'Roboto', sans-serif;
    color: white;
}

.game-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px; /* Добавлен отступ перед кнопками */
}

canvas {
    background-color: #111;
    border: 3px solid #9945ff;
    border-radius: 10px;
    margin-bottom: 20px;

}

h1 {
    margin-bottom: 20px;
    font-size: 2em;
    color: #711dd9;
}

.score-board {
    margin-bottom: 20px;
    font-size: 1.2em;
}

button {
    background-color: #711dd9;
    border: none;
    margin: 5px;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #5a0d94;
}

.controls {
    display: none;

}

.joystick {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.joystick-row {
    display: flex;
    justify-content: center;
}
#start-game , #leaderboard-btn{
    padding: 10px;
    font-size: 20px;
}
.control-btn {
    width: 60px;
    height: 60px;
    font-size: 1.5em;
    background-color: #711dd9;
    border: none;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 5px;
}

.control-btn:hover {
    background-color: #5a0d94;
}
#popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    color: black;
    padding: 20px;
    border-radius: 10px;
    display: none; /* Popup скрыт по умолчанию */
    z-index: 1000;
}

#popup button {
    background-color: #711dd9;
    color: white;
    border: none;
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
}

#popup button:hover {
    background-color: #5a0d94;
}

@media (max-width: 600px) {
    canvas {
        width: 100%;
        height: auto;
    }

    .control-btn {
        width: 50px;
        height: 50px;
        font-size: 1.2em;
    }
    .controls {
        display: block;
        position: fixed;
        bottom: 20px; /* Фиксированное расположение внизу */
        width: 100%;
        display: flex;
        justify-content: center;
    }
}
